.weather-item {
  padding: 0.5rem;
  margin: 1rem 0;
  background: linear-gradient(135deg, #3498db, #a9cce3);
  color: #fff;
}

.weather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.temp {
  font-size: 3.5rem;
}
.city {
  font-size: 26px;
}

.info-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.humidity-img {
  width: 35%;
}

.wind-img {
  width: 30%;
}

.humidity,
.wind {
  font-size: 23px;
}

@media screen and (max-width: 600px) {
  .col {
    margin-left: 20px;
  }
  .humidity,
  .wind {
    font-size: 15px;
  }
}
